<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.2987.1601" targetFramework="net45" />
  <package id="cef.redist.x86" version="3.2987.1601" targetFramework="net45" />
  <package id="CefSharp.Common" version="57.0.0" targetFramework="net45" />
  <package id="CefSharp.Wpf" version="57.0.0" targetFramework="net45" />
  <package id="Microsoft.IdentityModel.Logging" version="1.1.4" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.1.4" targetFramework="net462" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net462" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.1.4" targetFramework="net462" />
  <package id="Twilio" version="5.6.5" targetFramework="net462" />
</packages>